body { 
    font-size:14px;
    color:#000000;
    font-family:helvetica, arial, sans-serif;
    background-color: #FFFFFF;
    text-align:center; /* hack para o IE */
    text-justify: auto;
    margin: 0px;
}

.ui-fieldset {
    display: inline-block;
    margin-left: 300px;
    margin-top: 70px;    
} 
  
.ui-layout-unit {
    
}

.ui-layout-north .ui-layout-unit-content{
    background: #E8E8E8
}

.ui-layout-south .ui-layout-unit-content{
    background: #E8E8E8
}

.address, .tempo {
    font-family: initial; 
    font-weight: bold; 
    font-size: 18px;    
}

.lonas, .vistorias, .sol {
    font-family: initial; 
    font-weight: bold; 
    font-size: 20px;    
}

.resp {
    font-family: initial; 
    font-weight: bold; 
    font-size: 22px
}

.names {
   top:50px; 
   min-width: 100%; 
   border: 1px solid black;
}

.namesHeader {
   min-width: 100%;
   font-size: 25px; 
   border: 1px solid black; 
   text-align: center;
   font-style: italic;
}

.nameFooter {
   font-size: 25px;
   border: 1px solid black; 
   font-style: italic;
   font-weight: bold
}

.last {
   font-size: 25px; 
   border: 1px solid black; 
   height: 25px;
   text-align: center;   
}

.first {
   font-size: 25px; 
   border: 1px solid black; 
   text-align: center;   
}

.caption {
        align-content: center;
        color: black;
        font-weight: bold; 
	font-size: 25px;
	font-style: italic;
}

.tempoRot {
    font-weight: bold;
    
    
}
