.message{
    color:red; 
    font-size: 14px;
}
#cadForm{
    text-align: center;
}
#cadPanel{
    display: block;
    width: 100%;
    margin-left: 42%;
}

@media screen and (max-width: 600px) {
    #cadPanel{
        margin-left: 30%;
    }
}


